.tironii {

border: 10px;
border: solid;
background-color: aqua;

}
.corinthans{

border: 10px;
border: solid;
background-color: deeppink;

}
.churrasco{

border: 10px solid blue;
background-color: blueviolet;


}